@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #a3ff12; /* Main Theme Color */
  --secondary-color: #0f0f0f; /* Dark Background */
  --text-color: #ffffff;
  --muted-color: #cccccc;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Utility classes */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: #000;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
  color: #000;
}

.btn-primary:hover {
  opacity: 0.8;
}
